

.button-container{
	display:inline-block;
	position:relative;
	text-align: center;
	width: 100%;

}

img {
	width: 100%;
	height: auto;
}


.start-button {
	position:relative;
	bottom: 60em;
	width: 20em;
	height: 8em;
	background-color:#F2A51A;
	border-radius:1.5em;
	color:white;
	text-transform:uppercase;
	display: inline-block;
}

#intro_button {
	position:relative;
	bottom: 30em;
	width: 20em;
	height: 8em;
	background-color:#F2A51A;
	border-radius:1.5em;
	color:white;
	text-transform:uppercase;
	display: inline-block;
}

.loading-bar {
	position:relative;
	bottom: 14em;
	width: 4em;
	height: 4em;
	border-radius:1.5em;
	color:white;
	text-transform:uppercase;
	display: inline-block;	
}


.replay-button{
	position:relative;
	bottom: 100em;
	width: 20em;
	height: 8em;
	background-color:#F2A51A;
	border-radius:1.5em;
	color:white;
	text-transform:uppercase;
	display: inline-block;
}

.flute-button{
	position:relative;
	bottom: 75em;
	width: 20em;
	height: 8em;
	background-color:#F2A51A;
	border-radius:1.5em;
	color:white;
	text-transform:uppercase;
	display: inline-block;
}

.mixed-button{
	position:relative;
	bottom: 50em;
	width: 20em;
	height: 8em;
	background-color:#F2A51A;
	border-radius:1.5em;
	color:white;
	text-transform:uppercase;
	display: inline-block;
}