.button-container{
	display:inline-block;
	position:relative;
	text-align: center;
	width: 100%;

}

img {
  width: 100%;
  height: auto;
}


.start-button {
  position: absolute;
	left: 50%;
	bottom: 20%;
	height: 10vw;
	width: 20vw;
  margin-left: -10vw; 
  display: inline-block;
  background-color:#F2A51A;
	border-radius:5vw;
  font-size: 3vw;
}

.loading-bar {
	position:absolute;
	left: 50%;
	width: 24vw;
	margin-left: -12vw; 
	bottom: 20%;
	display: inline-block;	
}

.replay-button {
	position:absolute;
	left: 50%;
	width: 16vw;
	margin-left: -8vw; 
	bottom: 48%;
	display: inline-block;
}

.flute-button {
	position:absolute;
	left: 50%;
	width: 16vw;
	margin-left: -8vw; 
	bottom: 32%;
	display: inline-block;	
}

.mixed-button {
	position:absolute;
	left: 50%;
	width: 16vw;
	margin-left: -8vw; 
	bottom: 15%;
	display: inline-block;	
}
