<!doctype html>
<html>
  <head>
    <title>JANA GANA MANA</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>

<!--   <audio id="myAudio">
    <source src="horse.ogg" type="audio/ogg">
    <source src="horse.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio> -->

	<script src="{{ url_for('static', filename='index.js') }}"></script>
    <div class="button-container">
      <div>
        <div>
          <img src="https://storage.googleapis.com/sound-of-india/processed.png" />
            <button class="replay-button" type="button" onclick="playSoundReplay()">Replay</button>
            <button class="flute-button" type="button" onclick="playSoundFlute()">Flute Sound</button>

      <img class="replay-button" type="button" src="{{ url_for('static', filename='speaker.png') }}" onclick="playSoundReplay()" />

    <img class="flute-button" type="button" src="{{ url_for('static', filename='speaker.png') }}" onclick="playSoundFlute()" />
  <!--           <button class="mixed-button" type="button" onclick="playSoundMixed()">Mixed Sound</button> -->
  <img class="mixed-button" type="button" src="{{ url_for('static', filename='speaker.png') }}" onclick="playSoundMixed()" />
      </div>
    </div>

      <audio id="mixed_sound_id">
        <source src="" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>

      <audio id="flute_sound_id">
        <source src="" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>

      <audio id="replay_sound_id">
        <source src="" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>

            <button class="processed-next-button" id="processed_next_button">Next</button>


      <script type="text/javascript">
          document.getElementById("processed_next_button").onclick = function (){
            location.href = "/exit";
          };


        fileName = window.location.search.split("=")[1];
        console.log(fileName);

        document.getElementById("mixed_sound_id").setAttribute(
          "src",
          "https://storage.googleapis.com/sound-of-india/" + fileName + "_Flute_1_0.60_-20_voice_transfer_mixed.wav");
        document.getElementById("flute_sound_id").setAttribute(
          "src",
          "https://storage.googleapis.com/sound-of-india/" + fileName + "_Flute_1_0.60_-20_voice_transfer.wav");
        document.getElementById("replay_sound_id").setAttribute(
          "src",
          "https://storage.googleapis.com/sound-of-india/" + fileName + ".wav");

        function playSoundMixed() { 
          document.getElementById("mixed_sound_id").play(); 
        } 

        function playSoundReplay() { 
          document.getElementById("replay_sound_id").play(); 
        } 

        function playSoundFlute() { 
          document.getElementById("flute_sound_id").play(); 
        } 
      </script>
  </body>
</html>